@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caramel&family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kalam:wght@300;400;700&family=Kaushan+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Ma+Shan+Zheng&family=Metal&family=Monsieur+La+Doulaise&family=Ms+Madi&family=Mukta:wght@200;300;400;500;600;700;800&family=Oooh+Baby&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Satisfy&family=Sofadi+One&family=Solitreo&family=Sriracha&family=Syne+Tactile&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caramel&family=Caveat:wght@400..700&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=El+Messiri:wght@400..700&family=Kalam:wght@300;400;700&family=Kaushan+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Ma+Shan+Zheng&family=Metal&family=Monsieur+La+Doulaise&family=Ms+Madi&family=Mukta:wght@200;300;400;500;600;700;800&family=Oooh+Baby&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Satisfy&family=Sofadi+One&family=Solitreo&family=Sriracha&family=Syne+Tactile&family=Uchen&display=swap');




@media screen and (max-width: 1200px) {
    .h-primary {
        font-size: 28px;
        line-height: 1.4;
    }

    .h-primary3 {
        font-size: 28px;
        line-height: 1.4;
    }

    .welcome_right img {
        width: 96%;
        padding: 3px;
    }

    .shopping a {
        padding: 7px 9px;
        font-size: 32px;
    }

    .welcome_left {
        padding: 3px;
    }

    .about_right {
        margin: 50px 10px 0px 0px;
    }

    .about_right img {
        margin-top: 70px;
        width: 100%;
        padding: 5px;
    }

    /* begin :: About page */
    .about_page .post {
        font-size: 43px;
        letter-spacing: 2px;
        margin-top: 75px;
    }

    .about_page #navbar .logo a {
        font-size: 48px;
        margin: 0px;
        padding-left: 26px;
    }

    .about_page .h-blog {
        letter-spacing: 5px;
        margin-top: 75px;
        font-size: 47px;
        line-height: 80px;
        padding: 0px 0px 0px 10px;
    }

    .about_page .blog_left img {
        margin-left: 1px;
        padding: 0px;
        width: 103%;
        height: 100%;
    }

    .about_page .image1-box img {
        width: 323px;
        height: 351px;
    }

    .about_page .image1-box {
        position: absolute;
        margin-top: -187px;
        padding-left: 132px;
    }

    .about_page .image2-box img {
        margin-top: 22px;
        width: 360px;
        height: 360px;
    }

    .about_page .p-primary {
        font-size: 19px;
        line-height: 22px;
        padding-right: 42px;
        margin: 0px 0px 0px 41px;
    }

    .about_page .about_right {

        margin: 59px 0px 0px 0px;
        padding: 0px;
    }

    .about_page .p-blog {
        font-size: 17px;
    }

    .offer_page .image3 {
        margin-left: 10px;
        margin-top: -87px;
    }

    .offer_page .image2 {
        margin-left: 10px;
        margin-top: 104px;
    }

    .offer_page .image4 {
        margin-left: 10px;

    }

    .offer_page .image_murale_2 img {
        width: 86%;
        height: 100%;
        padding: 0px;
        margin: 0px 0px 0px 59px;
    }

    .offer_page .image_murale_3 img {
        width: 100%;
        height: 75%;
        margin: 86px 0px 0px 48px;
    }

    .offer_page .image_murale_4 img {
        width: 95%;
        height: 90%;
        margin: -42px 0px 0px 48px;
        padding: 0px;
    }

    .offer_page .image_murale_5 img {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .offer_page .image1 img {
        width: 100%;
        height: 100%;
    }

    .offer_page .image2 img {
        width: 100%;
        height: 100%;
    }

    .offer_page .image3 img {
        width: 100%;
        height: 75%;
    }

    .offer_page .image4 img {
        width: 100%;
        height: 100%;
    }

    .offer_page .blog_left1 img {
        width: 100%;
        height: 100%;
    }

    .offer_page .post1 {
        margin: 10px;
        padding: 21px;
        font-size: 45px;
        line-height: 73px;
    }

    .offer_page .blog_right1 {
        width: 50%;
        margin-top: 15px;
        margin-left: 45px;
        padding-left: 39px;
    }

    .offer_page .btn {
        font-size: 13px;
        background-color: #000;
        color: white;
        margin: 20px 2px 14px 0px;
        padding: 15px 46px;
    }

    .offer_page .p-blog2 {
        font-size: 16px;
        letter-spacing: 0px;
        margin: 0px;
        padding: 0px;
    }

    .p-blog1 {
        line-height: 24px;
        margin-top: 31px;
        font-size: 14px;
        color: rgb(3 3 3 / 76%);
    }

    .offer_page .h-blog1 {
        margin-top: 14px;
        padding: 11px 0px 0px 0px;
        font-size: 33px;
        line-height: 0px;
    }

    .p-primary2 {
        font-size: 14px;
        line-height: 22px;
        padding-right: 100px;
    }

    .offer_page .h-primary1 {
        font-size: 33px;
        margin: 0px;
        padding: 0px;
    }

    .offer_page .murals_right {
        margin-top: 2px;
        padding: 0px;
        width: 50%;
    }

    .offer_page .btn1 {
        font-size: 13px;
        margin: 0px 98px 0px 0px;
        padding: 19px 44px;
    }

    .offer_page .cart1 {
        margin-top: 0px;
    }

    .offer_page .murals_right img {
        width: 100%;
        height: 100%;
    }
    .contact1 {
        margin-top: 23%;
        color: rgba(255, 255, 255, 0.55);
        align-content: space-between;
    }
    .contact_page .icon ul {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0px;
        margin-top: 70px;
    }

    /* end :: About page */

}

@media screen and (max-width: 991px) {
    .welcome_left {
        padding-right: 20px;
    }

    .welcome_left h1 {
        margin: 0;
    }

    .welcome_left p {
        margin: 14px 0px;
    }

    .blog_left img {
        width: 104%;

    }

    .footer_center {

        font-size: 23px;
        margin-top: -99px;
        padding-left: 52px;
    }

    .about_page #navbar .logo a {
        font-size: 48px;
        margin-left: 4px;
        padding: 6px;
        display: flex;
    }

    .about_page .image1-box {
        margin-top: -185px;
        padding-left: 32px;
    }

    .about_page .image1-box img {
        width: 322px;
        height: 310px;
    }

    .about_page .image2-box img {
        margin-top: -15px;
        width: 297px;
        height: 297px;
        margin-left: -25px;
    }

    .about_page .p-primary {
        font-size: 18px;
        line-height: 21px;
        padding-right: 13px;
        margin: 0px 0px 0px 18px;
    }
    .contact_page .icon ul {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0px;
        margin-top: 70px;
    }
    .contact1 {
        margin-top: 23%;
        color: rgba(255, 255, 255, 0.55);
        align-content: space-between;
    }

}


@media screen and (max-width: 768px) {
    .item img {
        width: 100%;
        height: 68%;
    }

    .text::first-letter {
        font-size: 42px;
    }

    .h-primary {
        margin: 0px;
        font-size: 36px;
        line-height: 1.4;
        padding: 0px;
    }

    .welcome_sec {
        flex-direction: column;
    }

    .welcome_left,
    .welcome_right {
        text-align: center;
        width: 100%;

    }

    #navbar {
        flex-direction: column;
        flex-wrap: nowrap;
    }


    #navbar ul {
        margin-bottom: 4px;
        padding: 0px;
    }


    #navbar ul li a {
        margin: 0px;
        padding: 6px;
        font-size: 17px;

    }

    #navbar ul li {

        padding: 3px;
    }

    .shopping a {
        padding-right: 14px;

    }

    .about_sec {
        flex-direction: column;

        margin-top: 161px;
        padding: 0px;
    }
    .welcome_right img {
        width: 96%;
        padding: 8px 0px 0px 0px;
    }

    .about_left {
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .about_page .image2-box {
        position: sticky;
        margin: 0px;
        padding: 0px;
    }


    .about_right {
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
        order: 1;


    }

    .about_right img {
        width: 100%;
        margin-top: 8px;
        padding: 0px;
    }

    .p-primary {
        font-size: 14px;
        font-family: "Mukta", sans-serif;
        line-height: 28px;
    }

    .item {
        font-size: 25px;
        width: 97%;
        letter-spacing: 4px;
        text-align: center;
        padding: 3px 1px;
        margin: 2px 0px;
    }

    .Passions_sec {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #MY_Passions {
        margin: 0px;
        padding: 0px;
    }

    .h-primary3::first-letter {
        font-size: 43px;
    }

    .text {
        margin: 24px;
        padding: 0px;
    }

    .blog_left img {
        width: 100%;
        margin-bottom: -5px;
    }

    .btn {
        font-size: 14px;
        /* margin: 0px 22px 19px 0px; */
        padding: 17px 30px 15px 24px;
        font-weight: 700;
        margin: auto;
        display: block;
    }

    .post {
        font-size: 28px;
        line-height: 1px;
    }

    .nav ul {
        padding-left: 22px;
        padding-top: 8%;
        margin-top: 7%;

    }

    .footer_left {
        padding-top: 5px;
        flex-direction: column;
    }

    .footer_center {
        font-size: 16px;
        margin-top: -26px;
        padding-left: 3px;
    }

    .footer_right {
        font-size: 17px;
        margin-top: -25px;
        padding: 12px;
    }

    .art {
        padding-left: 50px;
    }

    .p-primary1 {
        font-size: 11px;
        margin: 0px;
        justify-content: center;
        padding-bottom: 15px;
    }

    .blof_logo {
        font-size: 23px;
        padding-top: 24px;
        padding-bottom: 25px;
    }

    .welcome_left {
        padding: 0px;
        margin: 0px;
    }

    .blog_sec {
        flex-direction: column;
    }

    .blog_right {

        width: 100%;
        text-align: center;
        display: flow-root;
        padding: 0px 0px 15px 0px;
        margin: 10px 0px 0px 0px;
    }

    .h-blog {
        margin: 0px 9px;
        font-size: 16px;
        line-height: 36px;
    }


    .p-blog {
        font-size: 15px;
        padding: 3px 14px 3px 14px;
        margin: 0px;
    }

    .blog_left {
        width: 100%;
        /* margin-right: 12px; */
        margin: 0px;
    }

    .about_page #navbar ul li a {
        margin: 1px;
        padding: 10px;
        font-size: 17px;
    }

    .about_page .blog_left img {
        width: 100%;
        height: 500px;
        object-fit: inherit;
        margin: auto;
    }

    .about_page .blog_right {
        width: 100%;
        display: flow-root;
        padding: 0px;

    }


    .about_page .image1-box img {
        margin: 0px;
        width: 100%;
        padding-top: 12px;
        height: 0%;
    }


    .about_page .image2-box img {
        margin: 0px;
        padding-top: 12px;
        width: 100%;
        height: 0%;
        display: block;
    }

    .about_page .image1-box {
        padding: 0px;
        margin: 0px;
        position: relative;
    }

    .about_page .about_right {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .about_page #navbar {
        margin-top: 0px;
    }

    .about_page #navbar .logo a {
        font-size: 40px;
        margin: 0px;
        padding: 6px;

    }

    .about_page .post {
        font-size: 39px;
        letter-spacing: 0px;
        margin-top: 44px;
    }

    .about_page .h-blog {
        letter-spacing: 2px;
        margin-top: 7px;
        font-size: 30px;
        line-height: 63px;
        padding: 0px;
    }

    .about_page .p-blog {
        font-size: 15px;
        padding: 0px;
    }

    .about_page .p-primary {
        font-size: 15px;
        line-height: 15px;
        padding: 0px;
        margin: 24px 0px 0px 0px;
    }

    .offer_page .blog_right1 {
        width: 100%;
        margin-top: 11px;
        margin-left: 0px;
        padding-left: 0px;
    }

    hr {


        width: calc(94% + 0px);
        position: static;
    }

    .offer_page .post1 {
        margin: 10px;
        padding: 7px;
        font-size: 39px;
        line-height: 56px;
    }

    .offer_page .post1::first-letter {
        font-size: 65px;
    }

    .offer_page .blog_left1 {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .p-blog1 {
        padding-left: 18px;
        margin: 0px;
    }

    .offer_page .h-blog1 {
        padding-left: 18px;
    }

    .offer_page .p-blog2 {
        font-size: 15px;
        margin: 0px;
        padding: 0px 0px 0px 14px;
    }

    .offer_page .btn {
        margin: 20px 15px 14px 0px;
    }

    .offer_page .malarstwo_img {
        margin-top: 20px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .offer_page .image1 {
        width: 300px;
        height: 0px;
    }

    .offer_page .image1 img {
        width: 300px;
        height: 250px;
    }

    .offer_page .image2 {
        /* width: 300px; */
        margin: 0px;
        padding: 0px;

    }

    .offer_page .image2 img {
        width: 300px;
        height: 250px;
        margin-top: 254px;
    }

    .offer_page .image3 {
        /* width: 300px; */
        margin: 0px 0px 0px 0px;

    }

    .offer_page .image3 img {
        width: 300px;
        height: 250px;
    }

    .offer_page .image4 {
        /* width: 300px; */
        margin: 0px;

    }

    .offer_page .image4 img {
        width: 300px;
        height: 250px;
    }

    .offer_page #murals_my {

        margin: 15px 0px 0px 0px;
        padding: 30px 0px 0px 0px;
    }

    .offer_page .murals_sec {
        width: 80%;
        padding: 0px;
        margin: auto;
        flex-direction: column;
    }

    .offer_page .murals_left {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .p-primary2 {
        font-size: 16px;
        padding: 0px 0px 0px 10px;
        margin: 0px;
    }

    .offer_page .h-primary1 {
        font-size: 27px;
        letter-spacing: 2px;
        margin: 0px;
        padding-left: 10px;
    }

    .offer_page .btn1 {
        font-size: 13px;
        margin: 0px 7px 0px 0px;
        padding: 18px 44px;
    }

    .offer_page .p-blog3 {
        font-size: 17px;
        padding-left: 9px;
    }

    .offer_page .murals_right {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .offer_page .murale_img {
        padding: 23px 0px 18px 0px;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    #Picture {
        margin: 68px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .offer_page .image_murale_5 img {
        width: 300px;
        height: 250px;
    }

    .offer_page .image_murale_4 {
        padding: 0px;
        margin: auto;
        width: 300px;
    }

    .offer_page .image_murale_4 img {
        width: 300px;
        height: 250px;
        margin: 0px;
        padding: 0px;
    }

    .offer_page .image_murale_3 img {
        width: 300px;
        height: 250px;
        margin: 0px;
        padding: 0px;
    }
    .offer_page .image_murale_3 {
       
        margin: auto;
        padding: 0px;
    }
    .offer_page .image_murale_2 {
        margin: auto;
        padding: 0px;
    }

    .offer_page .image_murale_2 img {
        width: 300px;
        height: 250px;
        padding: 0px;
        margin: 0px;
    }

    .welcome_left p {
        margin: 12px 0px;
        padding: 0px;
    }

    .h-primary {
        margin: 0px;
        font-size: 17px;
        line-height: 1.4;
        padding: 0px 0px 0px;
    }

    .welcome_sec {
        margin: 12px 0px 0px 0px;
        display: flex;
    }

    .h-primary::first-letter {
        font-size: 27px;
    }

    .contacct_logo {
        margin-top: 0px;
        padding-top: 4%;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .contacct_logo::first-letter {
        font-size: 25px;

    }

    .contact_btn {
        font-size: 19px;
        padding: 17px 58px;
        margin-bottom: 3%;
        margin-top: 7px;
    }

    .heding {
        line-height: 33px;
        letter-spacing: 2px;
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }

    .heding::first-letter {

        font-size: 30px;

    }
    #about_my {
        margin-top: 146px;
        padding: 0px;
        
    }
    .about_page .about_sec {
        display: flex;
        margin-top: 12px;
    }
    .offer_page .image_murale_5 {
        margin: auto;
        padding: 0px;
    }
    .blog_page1 .Art_stadio a {
        font-size: 40px;
    }
    .blog_page .h-primary5 {
        font-size: 22px;
        margin-top: 34%;
        letter-spacing: 2px;
        line-height: 20px;
    }
    .blog_page .p-primary5 {
        font-size: 14px;
        width: 72%;
        font-weight: initial;
        padding: 0px 0px 17px 0px;
    }
    .blog_page1 .bti {
        padding: 15px 13px 15px 13px;
        font-size: 13px;
        cursor: pointer;
        border-radius: 8px;
        font-weight: 700;
        margin: 59px 0px 0px 1px;
    }
    .blog_page1 .heding {
        line-height: 0px;
        font-size: 14px;
        letter-spacing: 2px;
        color: azure;
        font-weight: unset;
    }
    .blog_page1 .icon {
        display: flex;
        text-align: center;
        margin-top: 63px;
        padding: 0px;
        letter-spacing: 4px;
        justify-content: center;
    }
    .blog_page1 {
        margin: 0px;
        padding: 0px;
       
    }
    .blog_page1 .icon ul {
        padding: 27px 0px 0px 0px;
        margin: 0px;
    }
    .blog_page1 .icon ul li a {
       
        font-size: 17px;
    }
    .blog_page1 a {
        color: aliceblue;
        text-decoration: none;
    }
    .contact_page .bti {
        color: aliceblue;
        font-size: 11px;
        font-weight: bold;
        border-radius: 14px;
        background-color: rgb(0 0 0 / 85%);
        margin: 0px;
    }
    .contact_page .heding {
        line-height: 28px;
        font-size: 17px;
    }
    .contact_page .icon {
        margin-top: 15px;
        padding: 0px 0px 0px 0px;
    }
    .contact_page .icon ul {
        margin: 0px;
        padding: 0px;
    }
    .contact_page .icon ul li a{
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }
    .contact_page .h-primary6 {
        font-size: 29px;
        font-weight: bolder;
        margin: 0%;
    }
    .contact_page .p-primary5 {
        font-size: 15px;
        width: 50%;
        margin: auto;
        padding: 14px;
    }
    .contact1 {
        margin-top: 21%;
        text-align: center;
        font-weight: bold;
        color: rgb(255 255 255);
        align-content: space-between;
    }
    .blog_page {
        margin-top: -14%;
    }
}




@media screen and (max-width: 320px) {
    .about_page .about_sec {
        display: flex;
        margin-top: 7px;
    }

    #welcome_home {
        background-color: rgb(249, 218, 218);
        margin-right: 0px;
        padding: 0px;
        width: 100%;
    }

    .h-primary {
        margin: 0px;
        font-size: 24px;
        line-height: 1.4;
        padding: 0px;
    }

    .p-primary {
        font-size: 14px;
        line-height: 22px;
        padding: 0px;
        margin: 0px;
    }

    .about_left {
        width: 100%;
        margin: 8px 1px 0px 2px;
    }

    .about_right img {

        width: 96%;
        margin: 0px;
        padding: 0px;

    }

    .btn {
        font-size: 14px;
        font-weight: 700;
        padding: 14px;

    }


    #MY_Passions {
        margin: 1px;
        padding-left: 0px;
        width: 100%;
    }

    .h-blog {
        margin-top: 3px;
        font-size: 17px;
        line-height: 32px;
    }

    .see_more {
        font-size: 14px;
        font-weight: 700;
        padding: 13px 34px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .blog_sec {

        align-items: center;
        flex-direction: column;
    }

    .contact_btn {
        font-size: 14px;
        padding: 11px 28px;
        font-weight: 700;
        margin-bottom: 6%;
    }

    .contacct_logo {
        padding-top: 8%;
        font-size: 17px;
        letter-spacing: 0px;

    }

    .contacct_logo::first-letter {
        font-size: 34px;
    }

    .ican ul li {
        padding: 5px;
        font-size: 20px;
    }

    .heding {
        line-height: 30px;
        font-size: 22px;
        letter-spacing: 3px;
    }

    .heding::first-letter {
        font-size: 35px;
    }

    .ican {
        display: flex;
        text-align: center;
        margin-top: 0%;
        padding: 0px;
        letter-spacing: 1px;
        font-size: 14px;
    }

    .about_right {
        margin: 0px;
        padding: 0px;
        order: 1;
    }

    .blog_right {
        width: 100%;
        text-align: center;
        padding: 0px;
        margin: -5px;

    }

    .blog_left {
        width: 100%;
        margin: 0px;

    }

    .p-blog {
        font-size: 16px;
        padding: 0px;
    }

    .blof_logo::first-letter {
        font-size: 35px;
    }

    .contacts a {
        font-size: 23px;
        letter-spacing: 3px;
    }

    .icon ul li {
        padding: 5px;
        font-size: 23px;
    }

    .icon ul {
        padding: 0px;
        margin: 0px;
    }

    .nav ul li {
        font-size: 14px;
        padding: 12px;
    }

    .about_page #navbar {

        padding: 0px;
        margin: 0px;
    }

    .about_page #navbar ul li a {
        margin: 0px;
        padding: 4px;
        font-size: 17px;
    }

    .about_page #navbar .logo a {
        font-size: 40px;
        margin-left: 4px;
        padding: 0px;
    }

    .about_page .blog_left img {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .about_page .post {
        font-size: 33px;
        letter-spacing: 1px;
        margin-top: 38px;
    }

    .about_page .post::first-letter {
        font-size: 45px;

    }

    .about_page .h-blog {
        letter-spacing: 1px;
        margin-top: 24px;
        font-size: 29px;
        line-height: 43px;
        padding: 0px;
    }

    .about_page .h-blog::first-letter {
        font-size: 37px;
    }

    .about_page .p-blog {
        font-size: 15px;
        line-height: 16px;
        padding: 0px;
        margin: 0px;
    }

    .about_page .image1-box {
        margin-top: -181px;
        padding-left: 0px;
    }

    .about_page .image1-box img {
        width: 100%;
        padding: 0px;
        /* height: 227px; */
        margin: 85px 0px 0px 0px;
        padding: 0px;
    }

    .about_page .image2-box img {
        /* margin-top: 18px; */
        width: 100%;
        /* height: 220px; */
        /* margin-left: 24px; */
    }

    .about_page .p-primary {
        font-size: 15px;
        line-height: 17px;
        padding: 0px;
        margin: 0px;
    }

    .offer_page .btn {
        margin: 0px 5px 5px 0px;
        padding: 8px 28px;
        font-size: 12px;
    }

    .offer_page .p-blog2 {
        font-size: 14px;
        letter-spacing: 2px;
        margin: 0px;
        padding: 0px 0px 0px 14px;
    }

    .offer_page .post1::first-letter {
        font-size: 55px;
    }

    .offer_page .post1 {
        margin: 10px;
        padding: 7px;
        font-size: 39px;
        line-height: 56px;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
    }

    .offer_page .h-blog1 {
        font-family: "El Messiri", sans-serif;
        font-optical-sizing: auto;
        margin-top: 18px;
        padding: 13px 0px 0px 0px;
        line-height: 0px;
        font-size: 25px;
    }

    .offer_page .h-blog1::first-letter {
        font-size: 40px;
    }

    .p-blog1 {
        padding: 0px;
        margin: 0px;
    }

    .offer_page .image2 img {
        width: 255px;
        height: 250px;
    }

    .offer_page .image1 {
        width: 300px;
        height: 250px;
        margin: 10px 0px 5px 0px;
    }

    .offer_page .image1 img {
        width: 255px;
        height: 250px;
    }

    .offer_page .image3 img {
        width: 255px;
        height: 250px;
    }

    .offer_page .image4 img {
        width: 255px;
        height: 250px;
    }

    .offer_page .image_murale_5 img {
        width: 255px;
        height: 250px;
    }

    .offer_page .image_murale_4 img {
        width: 255px;
        height: 250px;
        margin: 0px;
        padding: 0px;
    }

    .offer_page .image_murale_3 img {
        width: 255px;
        height: 250px;
        margin: 0px;
        padding: 0px;
    }

    .offer_page .image_murale_2 img {
        width: 255px;
        height: 250px;
        padding: 0px;
        margin: 0px;
    }

    .offer_page .h-primary1 {
        font-family: "El Messiri", sans-serif;
        font-optical-sizing: auto;
        font-size: 25px;
        letter-spacing: 1px;
        margin: 0px;
        padding-left: 0px;
    }

    .offer_page .h-primary1::first-letter {
        font-size: 40px;

    }

    .p-primary2 {
        font-size: 16px;
        padding: 0px;
        margin: 0px 0px 14px 0px;
    }

    .offer_page .btn1 {
        font-size: 11px;
        margin: 0px 0px 13px 1px;
        padding: 8px 28px;
    }

    #Picture {
        margin: 13px 0px 0px 0px;
        padding: 0px;
    }
    .blog_page {
        margin-top: 20%;
    }
}

/* img {
    object-fit: cover;
    object-position: center;
} */